/* ::::: Estructura general :::::*/

/* Fuente */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    background-color: #222222;
    scroll-behavior: smooth;
    
}

/* Padding en secciones */
.section {
    padding: 40px 20px;
    
}

/* Margen inferior y alineación en H2 de secciones (por eso tenía style separado, no me acordé. Por eso, cuando lo saqué, se corrió el h2 a la izquierda) */
.section h2 {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    
}

/* Barra de navegación (el color fue escogido para que se funda con el cielo, por eso no coincide con el celeste que ya hay en la página)*/
.navbar{
background-color: #249AA8;

}

.navbar-brand img{
    width: 2rem;

}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 20px;

}

/* SECCIÓN 1: ¿Quiénes Somos? */

.about p{
    text-align: left;

}

.about i{
    background-color: #249AA8;
    display: block;
    align-items: center;
    padding-block: 1rem;

}


/* Sección 2: Destacados (Cards)*/

.card {
    background-color: #249AA8;
    
}

.card img {
    height: 180px;

}


/* Sección 3: Contacto (Formulario) */
.contact form {
    max-width: 600px;
    margin: 0 auto;
}
.contact form input, .contact form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
}
.contact form input[type="submit"] {
    background-color: #249AA8;
    color: #fff;
    cursor: pointer;
    
}

/* Footer (RRSS) */
footer {
    background-color: #249AA8;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    
}

.media-icons{
    text-decoration: none;
    color: inherit;
    margin: 0.5rem;

}