/* ::::: Estructura general :::::*/

/* Fuente */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    background-color: #222222;
    
    
}

/* Padding y alineación de texto en secciones */
.section {
    padding: 40px 20px;
    text-align: center;
}

/* Margen inferior en H2 de secciones */
.section h2 {
    margin-bottom: 20px;
    
}

/* Barra de navegación (el color fue escogido para que se funda con el cielo, por eso no coincide con el celeste que ya hay en la página)*/
.navbar{
background-color: #249AA8;

}

.navbar-brand img{
    width: 2rem;

}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 20px;

}

/* SECCIÓN 1: ¿Quiénes Somos? */

.about p{

    text-align: left;

}

.about i{
    background-color: #249AA8;
    display: block;
    align-items: center;
    padding-block: 1rem;

}


/* Sección 2: Destacados (Cards)*/

/* Para que las cards tengan el mismo alto */
.row {
    display: flex;
    flex-wrap: wrap;
}

.col-12 .col-md-3 {
    display: flex;
    flex-direction: column;
}

.card {
   background-color: #249AA8;
    
}

.card img {
    height: 180px;

}


/* Sección 3: Contacto (Formulario) */
.contact form {
    max-width: 600px;
    margin: 0 auto;
}
.contact form input, .contact form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
}
.contact form input[type="submit"] {
    background-color: #249AA8;
    color: #fff;
    cursor: pointer;
    
}

/* Footer (RRSS) */
footer {
    background-color: #249AA8;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    
}

.media-icons{
    text-decoration: none;
    color: inherit;
    margin: 0.5rem;

}